body{
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:14px;
}
#ta {
	width: 500px;
	height: 200px;
	font-size: 14px;
	padding:5px;
font-family:  Consolas,  DejaVu Sans, Symbola, Quivira, Segoe UI Symbol, UniversaliaPlus, Menlo,Monaco,Lucida Console , h ,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif,Cambria Math,  STIXGeneral;
}

#preview{
font-family:Georgia,"Times New Roman",Times,serif,Cambria Math,STIXGeneral;
  font-size:13pt;
}
